.button{
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    border-radius: 4px;
    background: var(--main-second-color);
    transition-property: background-color, color, box-shadow fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);

}